codigos/a.config

git config user.name BernaCg1975

git config user.email 

git config user.password = (token ) 

ghp_vWMO3NulPuZWllBernaCg19759UxKvU0jtijOxj2c0ZcWJx

 https://github.com/BernaCg1975/alura-git.git